<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ano %>
    <%= form.datetime_select :ano, class:'time-picker' %>
  </div>

  <div class="form-group">
    <%= form.label :coordenadores %>
    <%= form.text_field :coordenadores, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :chave %>
    <%= form.text_field :chave, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit nil, :class => 'btn btn-outline-success' %>
  </div>
<% end %>
