<div class="col-md-2">

</div>
<div class="col-md-8 main">
<p id="notice"><%= notice %></p>
<div class="row">

  <div class="col-lg-6">
    <h1 class="page-header">Editar</h1>
  </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">Nome</div>
        <div class="panel-body">
          <p>  <%= @user.nome %> </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-warning">
        <div class="panel-heading">Contato</div>
        <div class="panel-body">
          <p>  <%= @user.contato %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-heading">Saldo</div>
        <div class="panel-body">
          <p>  <%= @user.saldo %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">Equipe</div>
        <div class="panel-body">
          <p> <%= @user.team.nome %></p>
        </div>
      </div>
    </div>
  </div><!-- /.row -->



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
